*.ipynb linguist-language=Python
model/metric3d-vit-small.onnx filter=lfs diff=lfs merge=lfs -text
model/yolov11x-pose.pt filter=lfs diff=lfs merge=lfs -text
model/depth_pro.pt filter=lfs diff=lfs merge=lfs -text
model/model/detection_validation filter=lfs diff=lfs merge=lfs -text
model/model/main_clm_wild.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_inner filter=lfs diff=lfs merge=lfs -text
model/model/clm_general.txt filter=lfs diff=lfs merge=lfs -text
model/model/clnf_wild.txt filter=lfs diff=lfs merge=lfs -text
model/model/main_clm_general.txt filter=lfs diff=lfs merge=lfs -text
model/model/main_clnf_general.txt filter=lfs diff=lfs merge=lfs -text
model/model/pdms filter=lfs diff=lfs merge=lfs -text
model/model/tris_68.txt filter=lfs diff=lfs merge=lfs -text
model/model/tris_68_full.txt filter=lfs diff=lfs merge=lfs -text
model/model/cen_general.txt filter=lfs diff=lfs merge=lfs -text
model/model/early_term_cen_of.txt filter=lfs diff=lfs merge=lfs -text
model/model/main_ceclm_general.txt filter=lfs diff=lfs merge=lfs -text
model/model/mtcnn_detector filter=lfs diff=lfs merge=lfs -text
model/model/clm_wild.txt filter=lfs diff=lfs merge=lfs -text
model/model/clnf_general.txt filter=lfs diff=lfs merge=lfs -text
model/model/main_clnf_demos.txt filter=lfs diff=lfs merge=lfs -text
model/model/main_clnf_multi_pie.txt filter=lfs diff=lfs merge=lfs -text
model/model/main_clnf_wild.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_eye filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts filter=lfs diff=lfs merge=lfs -text
model/model/clnf_multi_pie.txt filter=lfs diff=lfs merge=lfs -text
model/model/haarAlign.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/ccnf_patches_0.5_multi_pie.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/ccnf_patches_1_wild.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/cen_patches_0.25_of.dat filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/svr_patches_0.25_general.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/ccnf_patches_0.25_general.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/ccnf_patches_0.25_multi_pie.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/ccnf_patches_0.25_wild.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/svr_patches_0.35_general.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/svr_patches_0.35_wild.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/svr_patches_0.5_general.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/ccnf_patches_0.35_wild.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/ccnf_patches_0.5_general.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/ccnf_patches_0.5_wild.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/cen_patches_0.50_of.dat filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/cen_patches_1.00_of.dat filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/svr_patches_0.25_wild.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/svr_patches_0.5_wild.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/ccnf_patches_0.35_general.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/ccnf_patches_0.35_multi_pie.txt filter=lfs diff=lfs merge=lfs -text
model/model/patch_experts/cen_patches_0.35_of.dat filter=lfs diff=lfs merge=lfs -text
model/model/model_inner/patch_experts filter=lfs diff=lfs merge=lfs -text
model/model/model_inner/pdms filter=lfs diff=lfs merge=lfs -text
model/model/model_eye/patch_experts filter=lfs diff=lfs merge=lfs -text
model/model/model_eye/pdms filter=lfs diff=lfs merge=lfs -text
model/model/pdms/In-the-wild_aligned_PDM_68.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_eye/clnf_left_synth.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_eye/main_clnf_synth_right.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_eye/patch_experts/ccnf_patches_1.50_synth_lid_.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_eye/pdms/pdm_28_l_eye_3D_closed.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_inner/clnf_inner.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_inner/patch_experts/ccnf_patches_1.00_inner.txt filter=lfs diff=lfs merge=lfs -text
model/model/mtcnn_detector/ONet.dat filter=lfs diff=lfs merge=lfs -text
model/model/detection_validation/validator_cnn.txt filter=lfs diff=lfs merge=lfs -text
model/model/detection_validation/validator_cnn_68.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_eye/main_clnf_synth_left.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_eye/patch_experts/left_ccnf_patches_1.00_synth_lid_.txt filter=lfs diff=lfs merge=lfs -text
model/model/mtcnn_detector/PNet.dat filter=lfs diff=lfs merge=lfs -text
model/model/mtcnn_detector/RNet.dat filter=lfs diff=lfs merge=lfs -text
model/model/model_eye/clnf_right_synth.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_eye/pdms/pdm_28_eye_3D_closed.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_inner/pdms/pdm_51_inner.txt filter=lfs diff=lfs merge=lfs -text
model/model/mtcnn_detector/MTCNN_detector.txt filter=lfs diff=lfs merge=lfs -text
model/model/pdms/Multi-PIE_aligned_PDM_68.txt filter=lfs diff=lfs merge=lfs -text
model/model/pdms/pdm_68_aligned_menpo.txt filter=lfs diff=lfs merge=lfs -text
model/model/detection_validation/validator_general_68.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_eye/patch_experts/ccnf_patches_1.00_synth_lid_.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_eye/patch_experts/left_ccnf_patches_1.50_synth_lid_.txt filter=lfs diff=lfs merge=lfs -text
model/model/model_inner/main_clnf_inner.txt filter=lfs diff=lfs merge=lfs -text
